<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Backbone Start</title>
    
    <!-- Zuerst alle externen Scripte laden -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    
    <!-- Die Datenbank -->
    <script src="db/vvz.js"></script>
    
    <!-- Dann das eigene -->
    <script src="js/Semester.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/router.js"></script>
    <script src="js/backbone-app.js"></script>
    
    <!-- ... und damit es schöner aussieht ein Stylesheet -->
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    
    <!-- Das Template -->
    <script type="text/template" id="main-view">
      <header>
        <h1><%= name %></h1>

        <div id="semester-info">
          <%= semester.welches %><%= semester.jahr %>
        </div>
      
        <div id="student"></div>
      </header>

      <navigation id="nav">
        <a class="action" href="#vvz">Vorlesungsverzeichnis</a> | 
        <a class="action" href="#me">Mein Semester</a>
      </navigation>
      
      <div id="container"></div>
    </script>
    
    <!-- Student View Template -->
    <script type="text/template" id="student-view">
      <span id="<%= matrikelnummer %>">Hallo, <%= name %>!</span>
      <small>Studiensemester: <%= studiensemester %></small>
    </script>
    
    <!-- Veranstaltungs-Template -->
    <script type="text/template" id="veranstaltungs-view">
        <h3><%= titel %></h3>
        <span class="select">+</span>
        <small><%= tag %>, <%= zeit %></small>
    </script>
  </head>
  <body></body>
</html>