<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Backbone Start</title>
    
    <!-- Zuerst alle externen Scripte laden -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    
    <!-- Dann das eigene -->
    <script src="js/backbone-start.js"></script>
    
    <!-- ... und damit es schöner aussieht ein Stylesheet -->
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    
    <script type="text/template" id="app-view">
      <small>Templates sind wie Lückentexte. Sie können auf Eigenschaften der View zugreifen. Zum Beispiel den Namen oder die Beschreibung:</small>
      <h1><%= name %></h1>
      <p>
        <blockquote>
          <%= about %>
        </blockquote>
      </p>
    </script>
  </head>
  <body></body>
</html>