body {
  /* Schriften */
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
  font-size: 110%;
  line-height: 1.2em;
  
  /* Layout */
  margin: 5em auto 3em auto;
  width: 50em;
  padding: 1.2em;
  padding-bottom: 3.6em;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#semester-info {
  font-size: 80%;
  
  margin-bottom: 2em;
}

#veranstaltungen {
  margin-left: 0.8em;
}

#veranstaltungen p{
  font-size: 80%;
}

.veranstaltung {
  margin-bottom: 1.8em;
}

.veranstaltung.selected,
.veranstaltung:hover.selected {
  background-color: #eeaaaa;
}

.veranstaltung:hover {
  background-color: #eee;
}

.veranstaltung h3{
  margin-bottom: 0.5em;
}

.veranstaltung .select {
  float: right;
  font-weight: bold;
  font-size: 130%;
  cursor: pointer;
}