<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				<title>Start - Muthesius</title>

		<meta name="description" content=" : ">
		<meta name="author" content="Incom Team &lt;incom@fh-potsdam.de&gt;">
		<meta name="keywords" content="incom">

		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

		<link rel="shortcut icon" href="favicon_mkh.ico">
		<!--<link rel="apple-touch-icon" href="/skin/img/apple-touch-icon.png">-->

					<meta name="robots" content="index, follow, NOIMAGEINDEX, NOARCHIVE">
				
		
		


		        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/language_chooser.js"></script>

		<script type="text/javascript">
			var baseUrl = "/";
		</script>
	
<link rel="stylesheet" type="text/css" href="css/index.css" media="all">
</head>
<body>
		
		<div id="wrapper">
			<!--
				INCOM 3.0
				incom-template-v14
				Frank Rausch / 2009-06-04.
			-->
			<div id="header">

				<div id="logo">
					<h1><a href="http://mkh.incom.org/">Incom Kommunikationsplattform</a></h1>
				</div><!-- /logo -->

				<div id="nav-main">
					<ul>
						<li id="nav-startseite" class="current"><a href="http://mkh.incom.org/" title="Startseite">Startseite</a></li>
						<li id="nav-workspaces"><a href="http://mkh.incom.org/workspaces" title="Workspaces">Workspaces</a></li>
						<li id="nav-schwarzesbrett"><a href="http://mkh.incom.org/kommunikation" title="Schwarzes Brett">Schwarzes Brett</a></li>
						<li id="nav-projektarchiv"><a href="http://mkh.incom.org/projekte" title="Projektarchiv">Projektarchiv</a></li>
						<li id="nav-personen"><a href="http://mkh.incom.org/personen" title="Personen">Personen</a></li>
						<li id="nav-hilfe"><a href="http://mkh.incom.org/hilfe" title="Hilfe">Hilfe</a></li>
					</ul>
				</div><!-- /nav-main -->
									<div id="nav-meta">
						<a href="http://mkh.incom.org/anmeldung" title="INCOM-Mitglied werden">Mitglied werden …</a><br>
						<a href="http://mkh.incom.org/action/set-language/en" class="btn switch switch-l language ">English</a><a href="http://mkh.incom.org/action/set-language/de" class="btn switch switch-r language on">Deutsch</a> 
					</div><!-- /nav-meta -->

					<div id="header-myincom-login">
						<h3> <em>(<a href="http://mkh.incom.org/forgot-something?">Login vergessen?</a>)</em></h3>
						<form action="http://mkh.incom.org/action/login" method="post" accept-charset="utf-8">
							<p>
								<label for="email">E-Mail</label><input name="email" placeholder="E-mail" value="" id="email" type="email">
								<label for="password">Passwort</label><input name="password" placeholder="Passwort" value="" id="password" type="password">

								<button type="submit" name="login-submit" id="login-submit">Login</button>
							</p>
						</form>
					</div><!-- /header-myincom-login -->
			</div><!-- /header -->
			
			<div id="globalsearch">
				<form action="http://mkh.incom.org/suche" method="post" accept-charset="utf-8">
					<p>
						<label for="s">Incom durchsuchen</label><input name="s" value="Suchen..." id="s" class="" type="text">
						<button type="submit" name="Submit">Search</button>
					</p>
				</form>
			</div><!-- /globalsearch -->    
<div id="page-wrapper">
	<div id="incom-home">    			
		
		<div id="home-projects">
			<h1 id="h-projekte-aktuell">Projekte aktuell</h1>
			<div class="projects-wrapper">
								<div class="project">
						<a href="http://mkh.incom.org/projekt/1123"><img src="img/8018.jpg" alt="Gebewesen" class=""></a>
						<div class="project-meta">
							<h2><a href="http://mkh.incom.org/projekt/1123">Gebewesen</a></h2>
							<p>…</p>
						</div><!-- /project-meta -->
					</div><!-- /project -->					<div class="project">
						<a href="http://mkh.incom.org/projekt/1122"><img src="img/8005.jpg" alt="Sicherheit - ein Zukunftsbild" class=""></a>
						<div class="project-meta">
							<h2><a href="http://mkh.incom.org/projekt/1122">Sicherheit - ein Zukunftsbild</a></h2>
							<p>“Design driven innovation can bring technology to application.“</p>

<p>This Project in cooperation with Siemens AG focuses on the application and scenario …</p>
						</div><!-- /project-meta -->
					</div><!-- /project -->					<div class="project">
						<a href="http://mkh.incom.org/projekt/1101"><img src="img/7927.jpg" alt="studio dumbar - to go" class=""></a>
						<div class="project-meta">
							<h2><a href="http://mkh.incom.org/projekt/1101">studio dumbar - to go</a></h2>
							<p>Im Rahmen einer fiktiven Ausstellung über das Studio Dumbar im <br>
Museum für Kunst und Gewerbe in Hamburg, sollte ein Folder …</p>
						</div><!-- /project-meta -->
					</div><!-- /project -->					<div class="project">
						<a href="http://mkh.incom.org/projekt/1097"><img src="img/7915.jpg" alt="SHOW DATA // INFORMATION VISUALIZED" class=""></a>
						<div class="project-meta">
							<h2><a href="http://mkh.incom.org/projekt/1097">SHOW DATA // INFORMATION VISUALIZED</a></h2>
							<p>Anlässlich einer fiktiven Ausstellung zur Informationsvisualisierung im Museum für Kunst und Gewerbe Hamburg soll eine die Ausstellung ergänzende interaktive Informationsgrafik …</p>
						</div><!-- /project-meta -->
					</div><!-- /project -->					<div class="project">
						<a href="http://mkh.incom.org/projekt/1086"><img src="img/7826.png" alt="Henri's Walk To Paris - ein interaktives Kinderbuch" class=""></a>
						<div class="project-meta">
							<h2><a href="http://mkh.incom.org/projekt/1086">Henri's Walk To Paris - ein interaktives Kinderbuch</a></h2>
							<p>¬ Für eine fiktive Ausstellung über den Grafikdesigner Saul Bass im Museum für Kunst und Gewerbe Hamburg soll, ergänzend eine …</p>
						</div><!-- /project-meta -->
					</div><!-- /project -->					<div class="project">
						<a href="http://mkh.incom.org/projekt/1083"><img src="img/7805.jpg" alt="Piet Zwart bewegt." class=""></a>
						<div class="project-meta">
							<h2><a href="http://mkh.incom.org/projekt/1083">Piet Zwart bewegt.</a></h2>
							<p>/ Eine Piet Zwart Ausstellung soll mit interaktiven Mitteln beworben werden.<br>
Fokus der Ausstellung: Buchgestaltungen der Serie „Monografieën over Filmkunst“.</p>

<p>/ Zwarts …</p>
						</div><!-- /project-meta -->
					</div><!-- /project -->					<div class="project">
						<a href="http://mkh.incom.org/projekt/1075"><img src="img/7759.jpg" alt="Dräger Maintenance" class=""></a>
						<div class="project-meta">
							<h2><a href="http://mkh.incom.org/projekt/1075">Dräger Maintenance</a></h2>
							<p>Eine vereinfachte, unterstützende Anwendung für Wartungstechniker und eine cloudgestützte Vernetzung dieser mit den Kontaktpersonen bei den jeweiligen Kunden. …</p>
						</div><!-- /project-meta -->
					</div><!-- /project -->				
			</div><!-- /projects-wrapper -->			
			<a href="http://mkh.incom.org/projekte" class="go">zum Projektarchiv</a>

		</div><!-- /home-projects -->

			<div id="content">	
			<div id="home-schwarzbrett-wrapper">
				<h1 id="h-schwarzbrett-aktuell">Schwarzes Brett aktuell</h1>
			
										<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/57151">»Was kann ich gegen Erschöpfung, Burnout, Depression tun?  Sind Therapie und Kreativität vereinbar?«</a></h2>

								<div class="meta">
									<span class="meta-datetime">24.04.2013, 08:15, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1381" title="Zu FJ" class="person" style="background-image: url('/img/icn-user.gif');">FJ</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/57108">Praktikum bei 3deluxe motion</a></h2>

								<div class="meta">
									<span class="meta-datetime">20.04.2013, 09:58, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1380" title="Zu TD" class="person" style="background-image: url('/img/icn-user.gif');">TD</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/57055">Muthesius Projekt</a></h2>

								<div class="meta">
									<span class="meta-datetime">16.04.2013, 23:13, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1380" title="Zu TD" class="person" style="background-image: url('/img/icn-user.gif');">TD</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/56939">Zentrum für Medien Termine per PDF</a></h2>

								<div class="meta">
									<span class="meta-datetime">08.04.2013, 09:32, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1380" title="Zu TD" class="person" style="background-image: url('/img/icn-user.gif');">TD</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/56872">Wettbewerb kurzundschön</a></h2>

								<div class="meta">
									<span class="meta-datetime">03.04.2013, 09:29, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1380" title="Zu TD" class="person" style="background-image: url('/img/icn-user.gif');">TD</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/56867">3. Nachhaltigkeitspreis des Landes Schleswig-Holstein: </a></h2>

								<div class="meta">
									<span class="meta-datetime">02.04.2013, 14:41, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1381" title="Zu FJ" class="person" style="background-image: url('/img/icn-user.gif');">FJ</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/56866">Interface Salon: "Design for All" am 09.04. um 19:00 Uhr</a></h2>

								<div class="meta">
									<span class="meta-datetime">02.04.2013, 14:12, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1381" title="Zu FJ" class="person" style="background-image: url('/img/icn-user.gif');">FJ</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/56864">Semesterauftakt im Zentrum für Medien am 03.04.13</a></h2>

								<div class="meta">
									<span class="meta-datetime">02.04.2013, 10:41, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1380" title="Zu TD" class="person" style="background-image: url('/img/icn-user.gif');">TD</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/56862">WOW- die Zukunft sieht klasse aus!</a></h2>

								<div class="meta">
									<span class="meta-datetime">01.04.2013, 13:16, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1380" title="Zu TD" class="person" style="background-image: url('/img/icn-user.gif');">TD</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
											<div class="post-wrapper">
							<div class="post">
								<h2><a href="http://mkh.incom.org/post/56846">Mia Seeger Preis 2013</a></h2>

								<div class="meta">
									<span class="meta-datetime">26.03.2013, 17:39, Kein Kommentar</span>

									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1381" title="Zu FJ" class="person" style="background-image: url('/img/icn-user.gif');">FJ</a>
									</div><!-- /person-wrapper -->
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->
									<!--
				<div id="home-schwarzbrett-btn-add">
					<a href="#">Neuen Beitrag hinzufügen</a>					
				</div> /home-schwarzbrett-btn-add -->
				
				<a href="http://mkh.incom.org/kommunikation" class="go">zum Schwarzen Brett</a>
				
				<a href="http://mkh.incom.org/action/rss/blackboard" class="rss">RSS Feed abonnieren</a>				
			</div><!-- /home-schwarzbrett-wrapper -->


			<div id="home-workspaces-wrapper">
				<h1 id="h-workspaces-aktuell">Workspaces Aktuell</h1>						<div class="post-wrapper">
							<div class="post-title cat4">
								Industriedesign							</div><!-- /post-title -->
							
							<div class="post">			
								<h2><a href="http://mkh.incom.org/workspace/2283#p57140">Romancing the Boomer: Designing Apps that resonate with older users</a></h2>
								<div class="clear"></div>
								<p>Hallo Healthy-Aging-Team,</p>

<p>an die Tür zum "Älterer sein" klopfen gerade die Baby Boomers. Die jüngsten unter Ihnen werden jetzt 50, die ältesten 68. In einem Artikel aus dem [UX …</p>
								<a href="http://mkh.incom.org/workspace/2283" title="ageing well at home" class="more">Zum Workspace</a> 

								<div class="meta">
									<span class="meta-datetime">23.04.2013, 06:54, Kein Kommentar</span>
									
									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1381" title="Zum Profil von FJ" class="person" style="background-image: url('/img/icn-user.gif');">FJ</a>
									</div><!-- /person-wrapper -->
									
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->						<div class="post-wrapper">
							<div class="post-title cat4">
								Industriedesign							</div><!-- /post-title -->
							
							<div class="post"><img src="img/8109.png" alt="" class="">			
								<h2><a href="http://mkh.incom.org/workspace/2288#p57112">Garmoshka! – Browser Akkordion</a></h2>
								<div class="clear"></div>
								<p>:) Pünktlich zum ersten Block ein kleiner Browser-Scherz:</p>

<p><a class="incom-linker-touched" href="http://artpolikarpov.github.io/garmoshka/">http://artpolikarpov.github.io/garmoshka/</a> …</p>
								<a href="http://mkh.incom.org/workspace/2288" title="[Scriptings] new Glitch();" class="more">Zum Workspace</a> 

								<div class="meta">
									<span class="meta-datetime">20.04.2013, 17:42, 1 Kommentar</span>
									
									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1441" title="Zum Profil von JE" class="person" style="background-image: url('/img/icn-user.gif');">JE</a>
									</div><!-- /person-wrapper -->
									
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->						<div class="post-wrapper">
							<div class="post-title cat4">
								Industriedesign							</div><!-- /post-title -->
							
							<div class="post">			
								<h2><a href="http://mkh.incom.org/workspace/2313#p57107">Anmeldung</a></h2>
								<div class="clear"></div>
								<p>Herzlich Willkommen zu den Methodischen Grundlagen für das Interface Prototyping im Sommersemester 2013.</p>

<p>Wir freuen uns auch in diesem Semester wieder auf zwei spannende Termine mit viel Freude an …</p>
								<a href="http://mkh.incom.org/workspace/2313" title="[Methodische Grundlagen] Interface Prototyping Sommersemester 2013" class="more">Zum Workspace</a> 

								<div class="meta">
									<span class="meta-datetime">20.04.2013, 00:10, 5 Kommentare</span>
									
									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/1488" title="Zum Profil von MO" class="person" style="background-image: url('/img/1488.gif');">MO</a>
									</div><!-- /person-wrapper -->
									
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->						<div class="post-wrapper">
							<div class="post-title cat4">
								Industriedesign							</div><!-- /post-title -->
							
							<div class="post">			
								<h2><a href="http://mkh.incom.org/workspace/1839#p57103">Montag,  22.4. Werkstatttag</a></h2>
								<div class="clear"></div>
								<p>Hallo an alle Interessierte,</p>

<p>da diesen Montag Werkstatttag ist, ist unser nächster Termin für US Research am Montag, 29.4.2013.</p>

<p>Schönes Wochenende<br>
Nicole Busch  …</p>
								<a href="http://mkh.incom.org/workspace/1839" title="User Experience Research" class="more">Zum Workspace</a> 

								<div class="meta">
									<span class="meta-datetime">19.04.2013, 14:19, 1 Kommentar</span>
									
									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/3583" title="Zum Profil von NB" class="person" style="background-image: url('/img/icn-user.gif');">NB</a>
									</div><!-- /person-wrapper -->
									
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->						<div class="post-wrapper">
							<div class="post-title cat4">
								Industriedesign							</div><!-- /post-title -->
							
							<div class="post"><iframe src="index_1.html" allowfullscreen="" frameborder="0" height="168" width="218"></iframe>			
								<h2><a href="http://mkh.incom.org/workspace/1932#p57102">fujitsus fingerlink interaction system makes "dumb paper smart"</a></h2>
								<div class="clear"></div>
								<p>"How to make things digital"..</p>

<p><a class="incom-linker-touched" href="http://www.core77.com/blog/ux/fujitsus_fingerlink_interaction_system_makes_dumb_paper_smart_24758.asp">http://www.core77.com/blog/ux/fujitsus_fingerlink_interaction_system_makes_dumb_paper_smart_24758.asp</a></p>

<p>Interessanter Ansatz, wenngleich sich doch neue Fragen auftun.. …</p>
								<a href="http://mkh.incom.org/workspace/1932" title="# interactive prototyping *" class="more">Zum Workspace</a> 

								<div class="meta">
									<span class="meta-datetime">19.04.2013, 13:08, Kein Kommentar</span>
									
									<div class="person-wrapper">
										<a href="http://mkh.incom.org/profil/2855" title="Zum Profil von CE" class="person" style="background-image: url('/img/2855.png');">CE</a>
									</div><!-- /person-wrapper -->
									
								</div><!-- /meta -->

							</div><!-- /post -->
							
						</div><!-- /post-wrapper -->				
				<a href="http://mkh.incom.org/stream" class="go">zum Workspace-Stream</a>
				<a href="http://mkh.incom.org/action/rss/stream" class="rss">RSS Feed abonnieren</a>			</div><!-- /home-workspaces-wrapper -->
			
		</div><!-- /content -->

	</div><!-- /incom-home -->
</div><!-- /page-wrapper --><div id="footer">
				© 2004–2013 Fachhochschule Potsdam <span class="trenner"> . </span> <a href="http://about.incom.org/">about Incom</a><span class="trenner"> . </span>  <a href="http://mkh.incom.org/impressum">Impressum</a>
</div><!-- /footer -->

	</div><!-- /wrapper -->
    <!-- scripte müssen wieder in den header ;( -->
	    
    	<script src="js/plugins.min.js"></script>
    	<script type="js/text/javascript" src="js/start.js"></script>	<script type="text/javascript">
		if($("code").length > 0) {
			document.write('<link rel="stylesheet" title="Zenburn" href="/skin/highlight/src/styles/zenburn.css" type="text/css" media="screen" title="No title" charset="utf-8">');
			document.write('<' + 'script type="text/javascript" src="/skin/highlight/src/highlight.pack.js" charset="utf-8"></' + 'script>');
			document.write('<' + 'script type="text/javascript" src="/skin/highlight/doHighlight.js" charset="utf-8"></' + 'script>');			
		}
	</script>
		<script>protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://'; address = protocol + window.location.host + window.location.pathname + '/ws'; socket = new WebSocket(address);
socket.onmessage = function(msg) { msg.data == 'reload' && window.location.reload() }</script>

</body>
</html>
